
<div class="p-3 m-1 rounded bg-dark">
  <h5>
    <strong><%= comment.commenter %></strong>
  </h5>
  <p><small class="text-muted"><%= comment.created_at.strftime("%B %d %Y, %l:%M%P") %></small>

  <p>
    <%= simple_format(comment.body) %>
  </p>

<div class="small_action">
  <%= link_to 'Destroy Comment', [comment.article, comment],
        method: :delete,
        data: {confirm: 'Are you sure?' } %>
</div>

</div>
