
<div class="container" >

  <h1 style="font-size: 80px; margin-bottom: -10px" >DEV SOUP</h1>
  <h3 class="text-muted" style="margin-bottom: 10px">Mmmm, drink in that development</h3>
  <%= link_to 'Blog', controller: 'articles' %>
  <br>
  <br>

  <p>Whats bibbin and boppin?</p>

</div>
