


body{
  background: #2d2d2d !important;
  @extend .text-white;
}

a {
  @extend .text-warning;
}

.trix-button-group {

  background: white;
}

.trix-content {
  background: white;
  color: black;

}

.comment_entry {
  width:100%;
}
